/* #E63946, #F1FAEE, #A8DADC, #457B9D, #1D3557, #fff5bb  (Pink in photo: #fd3d78 ) (Green in Photo #46f862) (Blue: #0100e3) (red: #bc0202)
*/
.aboutMeSection,.achievement,.future,.project,.contact{
    display:none;
}
/* Nav Bar*/
body{
    background-color: black;
}
.topnavbar{
    position: absolute; 
    border-radius: 20px;
    width: 99%; 
    height: 55px;
    bottom: 590px; 
    background-color: rgba(0,0,0,.7);
    border-radius: 10px;
    color: white;
    word-spacing: 2px;
    z-index: 2;
    display: flex;
    justify-content: space-around; 
    overflow-x: hidden;
    text-shadow: 2px;
    text-decoration: none;
}
.topnavbar a {
    float: left;
    color: #46f862;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnavbar a:hover{
    color: white;
}
/*.logo img{
   z-index: 3;
   display: block; 
   position: relative;
}*/
/* Nav Bar End */
/* Title Page Start */
.header{
    font-family:'Scary', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif';
    text-decoration: bold; 
    border: black, solid, 4px; 
    border-radius: 20px; 
    color: #0100e3; 
    font-size: 30px;
  
}
.overlay-text{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    font-size: 75px;
    font-weight: 20px;
    font-family: "Staatliches"; 
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    background-color: rgba(0,0,0,.6);
    height: 305px;
    color: white; 
    outline: #0100e3, solid, 2px;
    top:200px;
    padding-top: 500px; 
    padding-bottom: 85px;
    width: 100%;     
}
.overlay-text-one{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    border-radius: 20px;
    font-family:  "Saira Semi Condensed";
    color: white; 
    background-color: rgba(0,0,0,.7);
    height: 100px;
    top:500px; 
    padding-top: 20px; 
    padding-bottom: 50px;
    width: 720px;
    font-size: 15px;
}
.himg{
    position: absolute;
    border-radius: 30px;
    height: 633px;
    width: 1340px;
    display: inline-block; 
}
/* Title Page End */
/* About Me */
.aboutMeSection{
    background-color: black;
}
.aboutMeHead{
    color: #fd3d78 ; 
    border: #fd3d78, solid, 2px;
    position: relative; 
    top: 40px; 
    text-decoration: none; 
    border-radius: 20px;
    text-align: center;
}
.aboutMeText{
    font-family: "Poetsen One", sans-serif;
    border-radius: 20px;
    font-weight: 400px;
    font-style: normal;
    color: #fd3d78; 
    background-color: black;
    border:#fd3d78, solid, 2px;
    width: 500px;
    font-size: 20px;
    top: 200px; 
    position: absolute; 
    text-align: center;
    display: center;
    font-weight: 100px;
    font-family: "Tenor Sans"; 
    margin-left: 100px; 
}
.aboutMeHeadTwo{
    color: #fd3d78 ; 
    position: relative; 
    text-decoration: none; 
    text-align: center;
    top: 50px; 
    
}
.aboutMeTextTwo{
    color: #fd3d78;
    background-color: black;
    border:#fd3d78, solid, 2px;
    position: absolute;
    text-align: center; 
    display: center;
    font-size: 20px;
    top: 1200px; 
    width: 400px;
    margin-left: 100px; 

}
.catapultPhoto{
    image-rendering: 230px;
    margin-left: 160px;
    position: absolute; 
    height:398px;
    width:auto; 
    left: 670px; 
    padding-top: 110px; 
}; 
/* About Me End */
/* This is the Achievements and Skills Start*/ 
.groupstexttimelinetwo, .awardtexttwo, .groupstexttimelinethree, .awardtextthree, .achAndSkilImgthree{
    display:none; 
}
.achievements{
    color: #46f862 ; 
    border: #46f862, solid, 2px;
    position: relative; 
    border-radius: 20px;
    text-decoration: none; 
    text-align: center;
    font-weight: 400px;
    top:380px;
}
.groupsOfAchievementsAndSkills{
    color:#46f862; 
    position: relative; 
    top: 500px; 
    width:  100%; 
    height: 300px; 
    font-size: 17px;
    bottom: 100px; 
    text-decoration: none;
}
.groupstexttimeline{
    position: relative; 
    display: inline; 
    margin: 10px;
    text-align: center; 
    height: 100px; 
    bottom: 150px; 
    left: 80px; 
}
.groupstexttimelineoneone{
    position: relative; 
    display: inline; 
    margin: 10px;
    text-align: center; 
    height: 100px; 
    bottom: 150px; 
    left: 80px; 
}
.groupstexttimelinetwotwo{
    position: relative; 
    display: inline; 
    margin: 10px;
    text-align: center; 
    height: 100px; 
    bottom: 150px; 
    left: 80px; 
}
.groupstexttimelinethreethree{
    position: relative; 
    display: inline; 
    margin: 10px;
    text-align: center; 
    height: 100px; 
    bottom: 150px; 
    left: 80px; 
}
.groupstexttimelinefourfour{
    position: relative; 
    display: inline; 
    margin: 10px;
    text-align: center; 
    height: 100px; 
    bottom: 150px; 
    left: 80px; 
}
.groupstext{
    position: relative; 
    top: 100px;  
    height: 50px; 
    display: inline; 
    left: 200px; 
    top: 300px; 
    border-spacing: 20px; 
    justify-self: center;
    text-decoration: none;
}
.achAndSkilImg{
    position: relative;
    display: inline-block; 
    margin: -30px;
    width: 115.2px; 
    height: 100px;
    top : 100px; 
    right : 140px;
}
.achAndSkilImgTwo{
    position: relative;
    display: inline-block; 
    margin: -25px;
    width: 150px; 
    height: 120px;
    top : 100px; 
    right : 120px;
}
.skillsdescription{
    border:#46f862,solid, 2px;
    border-radius: 20px;
    position: relative;
    width: 75%; 
    height: 300px; 
    top: 250px;
    left: 170px; 
}
.groupstexttimelineone{
    color: #46f862;
    font-size: 30px;
    position: relative;
    left: 40px; 
    top: 10px; 

}
.awardtext{
    position: relative;
    color: #46f862;
    width: 600px; 
    top: 20px; 
    left: 25%; 
    font-size: 20px;
}
.achAndSkilImgaward{
    position: relative;
    margin: -30px;
    width: 115.2px; 
    height: 100px;
    top : 100px; 
    left: 100px; 
}
.groupstexttimelinetwo{
    color: #46f862;
    font-size: 30px;
    position: relative;
    left: 210px; 
    bottom: 55px; 
    width: 900px; 
}
.awardtexttwo{
    position: relative;
    color: #46f862;
    width: 600px; 
    top: 55px; 
    left: 215px; 
    font-size: 20px;
}
.achAndSkilImgawardtwo{
    position: relative;
    margin: -30px;
    width: 115.2px; 
    height: 100px;
    top : 125px; 
    right: 380px; 
}
.groupstexttimelinethree{
    color: #46f862;
    font-size: 30px;
    position: relative;
    left: 215px; 
    bottom: 90px; 
    width: 900px; 
}
.awardtextthree{
    position: relative;
    color: #46f862;
    width: 600px; 
    top: 55px; 
    left: 210px; 
    font-size: 20px;
}
.achAndSkilImgthree{
    position: relative;
    margin: -30px;
    width: 115.2px; 
    height: 135px;
    top : 150px; 
    right: 385px; 
}
/* Future Start */
.futures{
    border: #0100e3, solid, 3px;
    color: #0100e3; 
    border-radius: 20px;
    position: relative;
    top: 1000px; 
    text-align: center;
}
.futuresection{
    position: relative;
    color: #0100e3; 
    top: 1000px; 
    text-align: center;
}
.futuretext{
    display:inline-block; 
    justify-self: auto;
    border: #0100e3, solid, 2px;
    border-radius: 20px;
    height: 70px;
    width: 300px; 
    padding-top: 40px; 
    font-size: 20px;
    text-align: center;
    margin:10px;
}
/* Futures End */
/* Projects Start */
.projects{
    border: #fd3d78, solid, 3px;
    color: #fd3d78; 
    position: relative;
    top: 1000px; 
    text-align: center;
}
.projectstext{
    position: relative;
    color:#fd3d78; 
    width: 50%; 
    top: 1000px; 
    font-size: 20px;
    left: 550px; 
    text-align: center;
}
.photography{
    position: relative;
    font-size: 30px; 
    text-align: center;
    width: 1000px;
    top: 20px; 
    height: 275px; 
    right: 375px; 
    border: #fd3d78, solid, 2px;
}
.photo{
    position: relative;
    width: 350px; 
    height: auto; 
    bottom: 200px; 
    right: 200px; 
}
.yoshiporfolio{
    position: relative;
    bottom: 250px; 
}
.coding{
    position: inherit;
    font-size: 30px; 
    text-align: center;
    width: 1000px;
    top: 20px; 
    height: 450px; 
    right: 375px;
    border: #fd3d78, solid, 2px;
}
.photoOne{
    position: relative;
    display: inline-block;
    width: 350px; 
    height: 175px;
    right: 400px; 
    bottom: 375px; 
}
.photoTwo{
    position: relative;
    width: 350px; 
    height: 175px; 
    bottom: 555px; 
    margin-bottom: 10px;
}
.photoThree{
    position: relative;
    width: 350px; 
    height: 175px;
    bottom: 540px; 
    right: 200px;
    margin-bottom: 10px;
}
.photoFour{
    position: relative;
    width: 350px; 
    height: 175px;
    bottom: 600px; 
    right: 200px;
    margin-bottom: 10px;
}
.videography{
    position: relative;
    font-size: 30px; 
    text-align: center;
    width: 1000px; 
    bottom: 370px;
    height: 300px; 
    right: 375px; 
    border: #fd3d78, solid, 2px;
}

/* 
 .notextall{ 
    position: relative;
    text-align: center; 
    font-size: 20px;
    width: .05px; 
    bottom: 500px; 
    margin-left: 600px; 
    rotate: 90deg;
    scale: 1;
}
.notextgreenone{
    position: relative; 
    color:#46f862;
    background-color: #46f862;
    border-radius: 1px;
    border:#46f862, solid, 2px;
    text-align: center; 
    font-size: 20px;
    margin-left: 640px; 
    width: 50px;
    height: 7px; 
    bottom: 200px; 
}
.notextgreenoneone{
    position: relative; 
    color: #46f862;
    background-color: #46f862;
    border:#46f862, solid, 2px;
    text-align: center; 
    margin-left: 645px; 
    width: 80px;
    height: .1px; 
    bottom: 207px;  
}
.notextgreenthree{
    position: relative; 
    color: #46f862;
    background-color: #46f862;
    border:#46f862, solid, 2px;
    text-align: center; 
    border-radius: 1px;
    margin-left: 695px; 
    width: 35px;
    height: 7px; 
    bottom: 200px; 
}
.notextgreenthreethree{
    position: relative; 
    color: #46f862;
    background-color: #46f862;
    border:#46f862, solid, 2px;
    text-align: center; 
    margin-left: 690px; 
    width: 60px;
    height: .1px; 
    bottom: 207px;  
}
.notextredtwo{
    position: relative; 
    color: #bc0202;
    background-color: #bc0202;
    border:#bc0202, solid, 2px;
    text-align: center; 
    border-radius: 1px;
    margin-left: 715px; 
    width: 15px;
    height: 7px; 
    bottom: 200px; 
}
.notextredtwotwo{
    position: relative; 
    color: #bc0202;
    background-color: #bc0202;
    border:#bc0202, solid, 2px;
    text-align: center; 
    margin-left: 680px; 
    width: 40px;
    height: .1px; 
    bottom: 207px;  
}
.notextredfour{
    position: relative; 
    color: #bc0202;
    background-color: #bc0202;
    border:#bc0202, solid, 2px;
    text-align: center; 
    border-radius: 1px;
    margin-left: 670px; 
    width: 40px;
    height: 7px; 
    bottom: 200px; 
}
.notextredfourfour{
    position: relative; 
    color: #bc0202;
    background-color: #bc0202;
    border:#bc0202, solid, 2px;
    text-align: center; 
    margin-left: 660px; 
    width: 60px;
    height: .1px; 
    bottom: 207px; 
}
.notextredsix{
    position: relative; 
    color: #bc0202;
    background-color: #bc0202;
    border:#bc0202, solid, 2px;
    text-align: center; 
    border-radius: 1px;
    margin-left: 615px; 
    width: 50px;
    height: 7px; 
    bottom: 200px; 
}
.notextsixsix{
    position: relative; 
    color: #bc0202;
    background-color: #bc0202;
    border:#bc0202, solid, 2px;
    text-align: center; 
    margin-left: 570px; 
    width: 80px;
    height: .1px; 
    bottom: 207px;

}
.notextredeight{
    position: relative; 
    color: #bc0202;
    background-color: #bc0202;
    border:#bc0202, solid, 2px;
    text-align: center; 
    border-radius: 1px;
    margin-left: 606px; 
    width: 7px;
    height: 7px; 
    bottom: 200px; 
}
.notextredeighteight{
    position: relative; 
    color: #bc0202;
    background-color: #bc0202;
    border:#bc0202, solid, 2px;
    text-align: center; 
    margin-left: 600px; 
    width: 20px;
    height: .1px; 
    bottom: 208px;
}
.notextredten{
    position: relative; 
    color: #bc0202;
    background-color: #bc0202;
    border:#bc0202, solid, 2px;
    text-align: center; 
    border-radius: 1px;
    margin-left: 600px; 
    width: 1px;
    height: 7px; 
    bottom: 200px;    
}
.notextredtenten{
    position: relative; 
    color: #bc0202;
    background-color: #bc0202;
    border:#bc0202, solid, 2px;
    text-align: center; 
    margin-left: 596px; 
    width: 10px;
    height: .1px; 
    bottom: 207px;
}
.notextgreenfive{
    position: relative; 
    color: #46f862;
    background-color: #46f862;
    border:#46f862, solid, 2px;
    text-align: center; 
    border-radius: 1px;
    margin-left: 600px; 
    width: 1px;
    height: 7px; 
    bottom: 200px;    
}
.notextgreenfivefive{
    position: relative; 
    color: #46f862;
    background-color: #46f862;
    border:#46f862, solid, 2px;
    text-align: center; 
    margin-left: 600px; 
    width: 10px;
    height: .1px; 
    bottom: 207px;
}
.notextgreenseven{
    position: relative; 
    color: #46f862;
    background-color: #46f862;
    border:#46f862, solid, 2px;
    text-align: center; 
    border-radius: 1px;
    margin-left: 605px; 
    width: 20px;
    height: 7px; 
    bottom: 200px;
}
.notextgreensevenseven{
    position: relative; 
    color: #46f862;
    background-color: #46f862;
    border:#46f862, solid, 2px;
    text-align: center; 
    margin-left: 600px; 
    width: 40px;
    height: .1px; 
    bottom: 207px;

}
.notextgreennine{
    position: relative; 
    color: #46f862;
    background-color: #46f862;
    border:#46f862, solid, 2px;
    text-align: center; 
    border-radius: 1px;
    margin-left: 630px; 
    width: 10px;
    height: 7px; 
    bottom: 200px; 
}
.notextgreenninenine{
    position: relative; 
    color: #46f862;
    background-color: #46f862;
    border:#46f862, solid, 2px;
    text-align: center; 
    margin-left: 620px; 
    width: 30px;
    height: .1px; 
    bottom: 207px;
}*/
